@use "~bootswatch/dist/darkly/variables";
$theme-blue:#33667F;


.centering{
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width:100%
}


$impactBoxBackground:darken(variables.$body-bg,2%);

.impactBox{
    padding: 30px;
    border: solid 1px black;
    background-color: $impactBoxBackground
}

.mainTitle{
    text-align: center;
    @media screen and (max-width: 500px) {
        font-size: 4rem;
    }
    @media screen and (max-width: 350px) {
        font-size: 3rem;
    }
}

.contentDiv{
    background-color: lighten(variables.$body-bg,2%);
    min-height: calc(100vh - 150px);
}