@use "~bootswatch/dist/darkly/variables";

$theme-blue:#33667F;

.contactIcon{
    color:#fff
}

.hidden{
    visibility: hidden;
    display: none;
}

.centering{
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width:100%
}

.impactBox{
    padding: 30px;
    border: solid 1px black;
    background-color: darken(variables.$body-bg,2%);
}

.mainTitle{
    text-align: center;
}