@use "~bootswatch/dist/darkly/variables";

$theme-blue:#33667F;

.contactIcon{
    color:#fff
}

.hidden{
    visibility: hidden;
    display: none;
}

.centering{
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width:100%
}


$impactBoxBackground:darken(variables.$body-bg,2%);

.impactBox{
    padding: 30px;
    border: solid 1px black;
    background-color: $impactBoxBackground
}

.mainTitle{
    text-align: center;
}

.contentDiv{
    background-color: lighten(variables.$body-bg,2%);
    min-height: calc(100vh - 150px);
}