@use "globals";
@use "~bootswatch/dist/darkly/variables";

.projectExplanation{
  font-size: large;
}
.iconRow{

}
.projSkillBox{
  margin-top: 30px;
  @extend .centering;
  > :global(.skillsBox) {
    border: solid 8px variables.$cyan;
    width:98%;
    max-width: 1200px;
  }
}