@use "globals";
@use "~bootswatch/dist/darkly/variables";

.projectExplanation{
  font-size: x-large;
  margin-bottom: 10px;
}
.projSkillBox{
  margin-top: 30px;
  @extend .centering;
  > :global(.skillsBox) {
    border: solid 3.5px variables.$cyan;
    width:98%;
    max-width: 1200px;
  }
  :global(.collapseButton){
    background-color: variables.$cyan;
  }
  :global(.collapseButton):hover{
    background-color: lighten(variables.$cyan,10%);
  }
}

.projectComponent{
  @extend .impactBox;
  margin-top: 50px;
}
