@use "globals";
@use "~bootswatch/dist/darkly/variables";

.myImage{
    border-radius: 50%;
}

.mainArea{
    @extend .impactBox;
    @extend .centering;
    height: 100%;
}
.textArea{
    border: solid 5px variables.$cyan;
    max-width: 800px;
    display: inline-block;
    padding: 15px;
    font-size: large;
}
.contactArea{
    padding-top: 30px;
    max-width: 800px;
    font-size: x-large;
}

.aboutContactIcon{
    margin-right: 5px;
}