@use "globals";
@use "~bootswatch/dist/darkly/variables";

.myImage{
    border-radius: 50%;
}

.mainArea{
    @extend .impactBox;
    @extend .centering;
    height: 100%;
}
.textArea{
    @include globals.coloredBox(variables.$cyan);
    max-width: 800px;

}
.contactArea{
    padding-top: 30px;
    max-width: 800px;
    font-size: x-large;
}

.aboutContactIcon{
    margin-right: 5px;
}