@use "globals";
@use "~bootswatch/dist/darkly/variables";

.index_mainImage{
    height: 175px;
    width:175px;
}

.index_homeContactColumn{
    @extend .centering;
    height: 100%;
    user-select: none;
}
.index_homeLinks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 100px);
}

.index_singleHomeLink{
    width:100%;
    height:100%;
    padding: 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    font-size: xxx-large;
    background-color: darken(variables.$body-bg,2%);
}
.index_singleHomeLink:hover{
    text-decoration: none;
    color:#00bc8c;
    background-color: lighten(variables.$body-bg,2%);
}

.index_linkOuterDiv{
    overflow: hidden;
}
.index_linkOuterDiv:nth-child(3n+1) > .index_singleHomeLink{
    background-color: globals.$theme-blue;
    border:solid black 1px;
    color:#dddddd;
}
.index_linkOuterDiv:nth-child(3n+1) > .index_singleHomeLink:hover{
    background-color: lighten(globals.$theme-blue,5%);
}

.index_overallDiv{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.index_overallColumn1{
    min-width: 50%;
}

.index_overallColumn2{
    min-width: 50%;
}
.index_iconClass{
    font-size: xxx-large;
}


@media only screen and (max-width: 1050px) {
    .index_overallColumn1{
        min-width: 60%;
    }

    .index_overallColumn2{
        min-width: 40%;
    }
    .index_singleHomeLink{
        font-size: xx-large;
    }
}

@media only screen and (max-width: 600px) {
    .index_overallColumn1, .index_overallColumn2 {
        min-width: 100%;
    }
    .index_overallColumn2 {
        padding-top: 10px;
    }
    .index_mainImage{
        height: 75px;
        width: 75px;
    }
    .index_homeContactColumn {
        height: fit-content;
    }
    .index_homeLinks{
        height: calc(100vh - 200px);
    }
    .index_iconClass{
        font-size: xx-large;
    }

}

@media only screen and (max-width: 350px) {
    .index_singleHomeLink{
        font-size: x-large;
    }
}



