@use "globals";
@use "~bootswatch/dist/darkly/variables";


.mainArea{
  @extend .centering;
}
.firstSkills{
  width:100%;
  max-width: 1200px;
  height: 35vh;
}

.firstSkills{
  @include globals.coloredBox(variables.$cyan);
}